html, body{
  width: 100%;
  height: 100%;
}

#container{
  width: 100%;
  height: 100%;
}

#items .item_name{
  font-size: 30px;
  font-weight: bold;
}

#items .item_price{
  text-decoration: underline;
}

#items .item_add{
  color: purple;
}
